.cart_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.films_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart_ticket {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 24px;
    margin-bottom: 0;
}

.cart_ticket__title_count {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}