.faq_cards {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.faqCard__title { 
    flex: 1;
    min-height: 80px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
}