.select_title {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;   
}

.select {
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("./assets/SelectOpen.svg") no-repeat center right 18px;
}