.review_card {
    display: flex;
    gap: 15px;
    padding: 15px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.review_card__image {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.review_card__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.review_card__info__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}