.filmCard_wrapper{
    height: 168px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.filmCard_promo__info {
    display: flex;
    gap: 24px;
}

.filmCard_promo__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #1B1F23;
    cursor: pointer;
}

.filmCard_promo__subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1B1F23;
}