.input {
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
}

.input_title {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;   
}